.register-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    background-color: var(--color-zure);
    border-radius: 9px; /*acredito que o arredendamento do canva/2 = border-radiuspx*/    min-width: 360px;
    color: var(--color-white);
    padding: 18px 20px; 
    max-width: 360px;
}

.register-box h1 {
    font-size: 28px;
}

.form-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-register label, input {
    font-family: var(--font-hanken);
    font-weight: bold;
    font-size: 16px;
}

.form-register label {
    align-self: start;
    margin-bottom: 4px;
}

.form-register input {
    border: none;
    outline: none;
    background-color: #37a3a5;
    box-sizing: border-box;
    color: var(--color-white);
    border-radius: 14px;
    margin-bottom: 20px;
    padding: 6px 10px;
    width: 100%;
    outline-width: 3px;
    outline-style: hidden;
}

.form-register input:focus {
    outline-style: solid;
    outline-color: var(--color-white);
    background-color: #5dcbcd;
    color: var(--color-slate)
}

.form-register input::placeholder {
    color: #5dd2d4;
    font-weight: initial;
}

.form-register button {
    border: none;
    border-radius: 10px;
    background-color: #57cb97;
    font-size: 18px;
    font-weight: bold;
    padding: 6px 100px;
    font-family: var(--font-lora);
    color: var(--color-white);
    margin-top: 8px;
    margin-bottom: 16px;
}

.form-register button:hover {
    cursor: pointer;
    background-color: #3fa392;
}

.register-redirects {
    display: flex;
}

.register-redirects a {
    color: var(--color-white);
    font-weight: bold;
    font-size: 14px;
    font-family: var(--font-hanken);
}