@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
  --font-dm: "DM Sans", sans-serif;
  --color-green: rgb(87 204 152);
}

* {
  margin: 0px;
}

header {
  width: 100%;
  background-color: var(--color-green);
  height: 100px;
}
